{% extends "veilleTechnologiqueveilleBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2><center>La veille technologique, qu'est ce que c'est ?</center></h2><hr>
            <p style='text-indent:100px;'>La veille technologique peut &ecirc;tre vu comme la "capacit&eacute;" &agrave; s'informer sur l'&eacute;volution des technologies de fa&ccedil;on automatique. 
            La veille technologique a donc pour but d'informer, par exemple, les d&eacute;veloppeurs des mises &agrave; jour d'une technologie, ce qui peut s'av&eacute;rer utile si cette derni&egrave;re mise &agrave; jour venait &agrave; corriger des failles. 
            La production d'une veille technologique (selon le 4&egrave;me point obligatoire du tableau de comp&eacute;tence du BTS SIO sur la session 2015 et du point A5.2.2, "Veille technologique") peut ainsi &ecirc;tre analys&eacute;e et d&eacute;coup&eacute;e en 4 parties (que nous avons nomm&eacute; le principe de <strong>RESD</strong> : <strong>R</strong>&eacute;cup&eacute;ration-><strong>E</strong>xploitation-><strong>S</strong>tockage-><strong>D</strong>iffusion) :<br>
            <ul>
                <li>La <strong>r&eacute;cup&eacute;ration</strong> des donn&eacute;es utiles pour la veille technologique : ces donn&eacute;es peuvent provenir de sites comme d'E-mail ou encore de flux RSS.</li>
                <li>L'<strong>exploitation</strong> de ses donn&eacute;es utiles : d&eacute;pendant de la source de ces informations, les donn&eacute;es devront subir un traitement (ex : parsing)</li>
                <li>Le <strong>stockage</strong> de ses donn&eacute;es : par exemple dans une base de donn&eacute;e.</li>
                <li>Et enfin, la <strong>diffusion</strong> de ces donn&eacute;es : c'est le but de ce projet qui vous sera expos&eacute; ci-dessous.</li>
            </ul>
            <small><i>Note : ne pas confondre la "veille technologique" &agrave; la "production relatives à la mise en place d’un dispositif de veille technologique" : la "veille technologique" peut &ecirc;tre analys&eacute;e comme "re&ccedil;evoir des informations par E-mail" tandis que la "production relatives à la mise en place d’un dispositif de veille technologique" peut &ecirc;tre analys&eacute;e comme ce projet.</i></small>
            </p>
            <hr>
            <h3>Alors ce projet, &agrave; quoi sert-il ?</h3>
            <br>
            <p style='text-indent:100px;'>Ce projet va vous permettre, une fois inscrit, de cr&eacute;er une liste et d'y associer des technologies pour alimenter votre liste. 
            En fonction des technologies s&eacute;lectionn&eacute;es sera &eacute;tablis de fa&ccedil;on automatique vos besoins en terme de veille technologique. Enfin, une interface sera cr&eacute;&eacute;e, toujours automatiquement, afin de vous informer des nouveaut&eacute;s sur les langages concern&eacute;s. 
            Pour finir, cette interface sera externalisable et installable &agrave; distance sur un autre serveur : le votre ! Ainsi, en le pla&ccedil;ant dans votre administration, vous serez directement inform&eacute; en cas de mise &agrave; jour en vous y connectant : en somme, vous mettez en place un dispositif de veille technologique en quelques secondes, et en tr&egrave;s peu d'&eacute;tapes repr&eacute;sent&eacute;es ci-dessous :</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>1. Je m'inscris</h3>
            <p>La premi&egrave;re &eacute;tape est de vous inscrire &agrave; l'application : votre compte sera utilis&eacute; pour g&eacute;rer vos listes et vos besoins en terme de veille technologique, mais aussi pour vous identifier en cas d'une utilisation externe (voir la 3&egrave;me &eacute;tape).</p>
        </div>
        <div class="col-md-4">
            <h3>2. Je cr&eacute;er ma liste</h3>
            <p>En cr&eacute;ant votre liste, vous serez inviter &agrave; renseigner les technologies utilis&eacute;es sur ce dernier, apr&egrave;s quoi il vous sera automatiquement livr&eacute; votre dispositif de veille technologique !</p>
        </div>
        <div class="col-md-4">
            <h3>3. J'externalise mon interface</h3>
            <p>Une fois les deux premi&egrave;res &eacute;tapes r&eacute;alis&eacute;es, vous pouvez externaliser (via une Iframe) votre dispositif de veille technologique pour l'installer directement sur votre site. Vous pouvez aussi laisser votre dispositif ici, et vous connecter &agrave; l'application pour vous informer sur les nouvelles technologies.</p>
        </div>
    </div>
{% endblock %}